* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';

}

body {
    color: #ededed;
    background: #081b29;
}


/* header section */



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 20px 5%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}


.header .logo {
    text-decoration: none;
    font-size: 25px;
    background-color: transparent;
    color: #0ef;
    width: 10%;
    text-align: end;
}

.header h1 {
    width: 90%;
    text-align: center;
}

.header h1 span {
    color: #0ef;
}



/* introduction */



.introduction {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 80px 5% 0;
}

.introduction h1 {
    margin-top: 2%;
    width: 100%;
    text-align: center;
    /* color: #0ef; */
    font-size: 2rem;

}


.introduction .info img {
    margin-top: 0%;
}

.introduction span {
    padding-left: 15px;
    font-size: 3rem;
    font-weight: 900;
    color: #0ef;
}

.introduction .info {
    /* margin-top: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction .info p {
    margin-top: 25px;
    font-size: 1.5rem;
    line-height: 1.5;

}

.introduction .info p b {
    color: aqua;
    font-weight: 900;
}

.introduction .info p br {

    margin-bottom: 30px;
}



/* next  */



.introduction .next {
    /* margin-top: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction .next p {
    margin-top: 25px;
    font-size: 1.5rem;
    line-height: 1.5;

}

.introduction .next p b {
    color: aqua;
    font-weight: 900;
}

.introduction .next p br {

    margin-bottom: 30px;
}




/* make this page responsive for mobile view */

@media only screen and (max-width:400px){
    .header{
        display: flex;
        justify-content: space-evenly;
        height: 50px;
    }

    .header .logo {
        width: 25%;
        font-size: 20px;
    }
    .header h1{
        
        font-size: 20px;
    }

    .introduction .info{
        flex-wrap: wrap;
    }

    .introduction .info img{
        height: 400px;
    }

    .info p{
        text-align: start;
    }
}